table {
  width: 99vw;
}
th, td {
  text-align: center;
  font-family: 'Calistoga', cursive;
  font-size:30px;
  color:#595959
}
img {
   height:450px
}
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
