table {
  width: 99vw;
}
th, td {
  text-align: center;
  font-family: 'Calistoga', cursive;
  font-size:30px;
  color:#595959
}
img {
   height:450px
}
p {
  text-align: left;
  font-family: 'Calistoga', cursive;
  font-size:30px;
  color:#595959 inherit;
}
.default {
  text-align:right
}
p {
 display:inline;
 word-wrap: break-word;
}
.shopz{
  align:middle;
}
